<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <application>
       <receiver android:name="com.vio.notificationlib.presentation.NotificationReceiver"
           android:exported="false">
           <intent-filter>
               <action android:name="com.vio.notificationlib.NOTIFICATION_ACTION"/>
           </intent-filter>
       </receiver>
       <activity
           android:name=".presentation.FullscreenNotificationActivity"
           android:theme="@style/Theme.AppCompat.NoActionBar"
           android:screenOrientation="portrait"
           android:exported="false"
           android:showWhenLocked="true"
           android:turnScreenOn="true" />
   </application>
</manifest>